<script type="text/javascript">
  /*
  var fs = require('fs'),
    path = require('path');

  function crawl(dir){
    console.log('[+]',dir);
    var files = fs.readdirSync(dir);
    for(var x in files){
        var next = path.join(dir,files[x]);

        if(fs.lstatSync(next).isDirectory()==true){
            crawl(next);
        }
        else {
            console.log('\t',next);
        }
    }

    function mostrarMensaje(){
      alert("Mensaje");
    }
}
*/
</script>

<button mat-icon-button color="primary" (click)="mostrarAlerta()" type="primary">WTF</button>

<button mat-icon-button color="accent" (click)="mostrarVaca()">Cow</button>

