
<div class="jumbotron text-center">
  <h1>Aplicaciones Ricas</h1>
  <p>Grupo 3 (el mejor) - Angular - Material </p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-2 text-right" id='col1' >
      
      <app-vertical-buttons></app-vertical-buttons>
      
    </div>
    <div class="col-sm-3" id = 'col2'>
      
      <tree-flat-overview-example></tree-flat-overview-example>

    </div>
    <div class="col-sm-2" id='col3'>
      
      <app-buttons-add-remove></app-buttons-add-remove>

    </div>
    <div class="col-sm-3" id='col4'>
      
    </div>
  </div>
</div>

